<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${add}">Add storage</title>
    <title th:if="${edit}">Storage details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css"/>
    <script defer src="/static/fontawesome.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/vue"></script>
    <script src="/static/axios.min.js"></script>
    <style>
        #storagedetails {
            margin-top: 40px;
        }
    </style>
</head>
<body>
<div th:replace="navbar">
</div>
<section class="hero">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <h1 class="title" th:if="${add}">Add storage</h1>
                <h1 class="title" th:if="${edit}">Storage details</h1>
                <p class="is-medium" th:if="${addFirst}">To use fileshare you have to add your personal storage instance. All you have to do is to start a pre-configured docker container or install storage instance software and configure nginx/apache http server in front of it. About installing everything from scratch you can <a>read here</a>, and about configuring and start docker container <a>here</a>. Read about <a>storage instances</a>.
                </p>
                <div id="storagedetails">
                    <div class="field">
                        <label class="label">Enter displayed name for the storage instance:</label>
                        <p class="control">
                            <input class="input"
                                   v-model="storage.name"
                                   v-bind:class="{ 'is-danger': nameError }"
                                   type="text"
                                   placeholder="My new storage"
                                   name="name"
                                   required/>
                        </p>
                        <p v-if="nameError" class="help is-danger">
                            This field is required.
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Url where your storage instance is located:</label>
                        <p class="control">
                            <input class="input"
                                   v-model="storage.url"
                                   type="text"
                                   placeholder="http://example.com:8080/"
                                   v-bind:class="{ 'is-danger': urlError }"
                                   name="url"
                                   required/>
                        </p>
                        <p v-if="urlError" class="help is-danger">
                            This field is required.
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Url for files download:</label>
                        <p class="control">
                            <input class="input"
                                   v-model="storage.download_url"
                                   type="text"
                                   placeholder="https://example.com:8081/"
                                   v-bind:class="{ 'is-danger': downloadUrlError }"
                                   name="url"
                                   required/>
                        </p>
                        <p v-if="downloadUrlError" class="help is-danger">
                            This field is required.
                        </p>
                    </div>
                    <div class="field" v-if="sign_code">
                        <label class="label">Sign request code:</label>
                        <label class="label">{{ sign_code }}</label>
                    </div>
                    <p class="field" v-if="!sign_code">
                    <button
                            v-on:click="request_sign_code"
                            class="button is-info">
                        Request sign code
                    </button>
                    </p>
                    <p v-if="!next" class="field control">
                        <button th:if="${add}"
                                v-on:click="later"
                                class="button is-info">
                            Add later
                        </button>
                        <button
                            v-if="storage.id"
                            v-on:click="clickDelete"
                            class="button is-danger">
                            Delete
                        </button>
                        <button
                            v-on:click="clickSave"
                            class="button"
                            v-bind:class="{ 'is-primary': !otherError, 'is-danger': otherError, 'is-loading': savingInProgress }">
                            Save
                        </button>
                    </p>
                    <p v-if="next" class="field control">
                        <a href="/" class="button is-info">Finish</a>
                    </p>
                    <p v-if="otherError" class="help is-danger">
                        {{ otherError }}
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    new Vue({
        el: "#storagedetails",
        data: {
            storage: {
                name: '',
                url: '',
                download_url: ''
            },
            nameError: null,
            urlError: null,
            downloadUrlError: null,
            otherError: null,
            savingInProgress: false,
            next: false,
            sign_code: null,
            storage_id: null,
            request_data: /*[[${edit}]]*/,
            csrf_name: /*[[${_csrf.parameterName}]]*/,
            csrf_token: /*[[${_csrf.token}]]*/
        },
        methods: {
            addCsrf: function(request) {
                return request + "?" + this.csrf_name + "=" + this.csrf_token
            },
            update: function() {
                axios.put(this.addCsrf("/web-api/storage/" + this.storage.id), this.storage)
                    .then(response => {
                        this.savingInProgress = false
                     })
                    .catch(error => {
                        console.log(error)
                        if (error.response.data)
                            this.otherError = error.response.data
                        else
                            this.otherError = "Unknown error has occured"
                        this.savingInProgress = false
                        this.next = true
                     })
            },
            add: function() {
                axios.post(this.addCsrf("/web-api/storage"), this.storage)
                    .then(response => {
                        this.storage = response.data
                        this.storage_id = this.storage.id
                        this.savingInProgress = false
                     })
                    .catch(error => {
                        console.log(error)
                        if (error.response.data)
                            this.otherError = error.response.data
                        else
                            this.otherError = "Unknown error has occured"
                        this.savingInProgress = false
                        this.next = true
                     })
            },
            clickSave: function() {
                this.nameError = this.name == ''
                this.urlError = this.url == ''
                this.downloadUrlError = this.download_url == ''
                this.otherError = null
                
                if (this.nameError || this.urlError || this.downloadUrlError)
                    return

                this.savingInProgress = true

                if (this.storage.id)
                    this.update()
                else
                    this.add()
            },
            clickDelete: function() {
                axios.delete(this.addCsrf("/web-api/storage/" + this.storage_id)) 
                    .then(response => {
                        window.location = "/dashboard"
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            later: function() {
                if (this.url != "")
                    window.onbeforeunload = function() {
                        return "You have some unsaved data"
                    }
                else
                    window.onbeforeunload = function() {}
                window.location = '/'
            },
            get_sign_code: function() {
                axios.get(this.addCsrf("/web-api/storage/" + this.storage_id + "/get-sign-code"))
                    .then(response => {
                        this.sign_code = response.data.sign_request_code
                        console.log('sing conde:' + this.sign_code)
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },
            get_id: function() {
                this.storage_id = window.location.hash.substr(1);
                console.log(this.storage_id)
            },
            load: function() {
                if (!this.request_data)
                    return

                this.get_id()
                axios.get(this.addCsrf("/web-api/storage/" + this.storage_id))
                    .then(response => {
                        this.storage = response.data
                        console.log(response.data)
                    })
                    .catch(error => {
                        console.log(error)
                    })

                this.get_sign_code()
            },
            request_sign_code: function() {
                axios.get(this.addCsrf("/web-api/storage/" + this.storage_id + "/request-sign-code"))
                    .then(response => {
                        this.sign_code = response.data.sign_request_code
                        console.log('sing conde:' + this.sign_code)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },
        created() {
            this.load()
        }
    })
</script>
</body>
</html>
