<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css"/>
    <script defer src="/static/fontawesome.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/vue"></script>
    <script src="/static/axios.min.js"></script>
    <style>
        .color-green { color: green }
    </style>
</head>
<body>
<div th:replace="navbar">
</div>
<div id="content">
<section class="hero" v-if="!has_storage">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <h1 class="title">Ready to start!</h1>
                <p class="is-large content">To start using fileshare you have to add your first storage device</p>
                <a href="/storage/add" class="button is-info">Add Storage</a>
            </div>
        </div>
    </div>
</section>
<div id="body" v-if="has_storage" class="columns">
    <div class="column is-three-quarters">
        <table class="table is-fullwidth is-hoverable is-stripped" id="ls">
  <thead>
    <tr>
        <th style="width: 30px"><a v-on:click="queryContent(curent_dir_id)"><i class="fas fa-sync"></i></a></th>
      <th>Name</th>
      <th style="width: 100px">Size</th>
    </tr>
  </thead>
  <tbody>
      <tr v-if="up_level_dir_id" v-on:click="clickToUpLevel()">
          <td><i class="fas fa-level-up-alt" aria-hidden="true"></i></td>
          <td>..</td>
          <td>0</td>
      </tr>
      <tr v-for="item in dir_content" v-on:click="clickItem(item)" :key="hack">
          <td><i v-bind:class="{'fas': item.dir, 'fa-folder': item.dir }" :key="item.id"></i></td>
          <td>{{ item.name }}</td>
          <td>{{ displaySize(item) }}</td>
      </tr>
  </tbody>
</table>
    </div>
    <nav class="panel column">
          <p class="panel-heading">
            Storage instances
          </p>
          <div
              class="panel-block is-block"
              v-for="storage in instances"
              v-on:click="selectStorage(storage.id)"
              v-bind:class="{ 'is-active': active_storage == storage.id }"
              :key="hack"
              >
            <span>
                <i class="fas fa-signal" v-bind:class="{ 'color-green': storage.error == null, 'color-red': storage.error != null }" ></i>
            </span>
            <span>{{ storage.name }}
            <a :href="'/storage/#' + storage.id" class="is-pulled-right"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
          </div>
    </nav>
</div>
<div v-if="selected_item" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">Share {{ selected_item.name }}</p>
      <button class="delete" aria-label="close" @click="selected_item = null"></button>
    </header>
    <section class="modal-card-body">
        <div v-for="share_url in share_urls">
            <p>
                <a>https://fileshare/download/{{ share_url.url }}</a>
                <button class="is-danger delete" aria-label="close" @click="delete_share_link(share_url)"></button>
            </p>
        </div>
        <p class="field">
            <button
                    v-on:click="add_share_url(selected_item)"
                    class="button is-info">
                Add share url
            </button>
        </p>
    </section>
  </div>
</div>

</div>
<script th:inline="javascript">
    new Vue({
        el: "#content",
        data: {
            hack: 0,
            has_storage: false,
            active_storage: '',
            instances: [],
            dir_content: [],
            up_level_dir_id: null,
            current_dir_id: null,
            selected_item: null,
            share_urls: [],
            csrf_name: /*[[${_csrf.parameterName}]]*/,
            csrf_token: /*[[${_csrf.token}]]*/
        },
        methods: {
            activeStorage: function() {
                for (var i = 0; i < this.instances.length; ++i) {
                    if (this.instances[i].id == this.active_storage)
                        return this.instances[i];
                }
                return null;
            },
            render: function() {
                this.hack += 1
            },
            addCsrf: function(request) {
                arg = '?'
                if (request.indexOf('?') > -1)
                    arg = '&'
                return request + arg + this.csrf_name + "=" + this.csrf_token
            },
            queryStorage: function() {
                axios.get(this.addCsrf("/web-api/storage"))
                    .then(response => {
                        if (!(response.data instanceof Array) ||
                            response.data.length < 1) {
                            this.has_storage = false
                            console.log("has no instances")
                            return
                        }

                        this.instances = response.data;
                        for (var i = 0; i < this.instances.length; ++i)
                            this.instances[i].error = null;
                        this.has_storage = true
                        this.selectStorage(this.instances[0].id)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            queryStatus: function() {
                axios.get(this.addCsrf("/web-api/storage/" + this.active_storage + "/status"))
                    .then(response => {
                        if (response.data.status != 'ok')
                            this.activeStorage().error = "Status not ok"
                        this.render()
                    })
                    .catch(error => {
                        this.activeStorage().error = error
                        console.log(error)
                        this.render()
                    })
            },
            queryContent: function(dir) {
                if (this.active_storage == '')
                    reutrn
                uri = "/web-api/ls/" + this.active_storage
                if (dir && dir != '')
                    uri += "/" + dir
                axios.get(this.addCsrf(uri))
                    .then(response => {
                        this.dir_content = []
                        if (response.data.entries instanceof Array)
                        {
                            this.dir_content = response.data.entries
                        }
                        
                        this.up_level_dir_id = response.data.up_level_dir_id
                        this.curent_dir_id = dir

                        this.render()

                    })
                    .catch(error => {
                        this.dir_content = []
                        this.activeStorage().error = error
                        this.render()
                        console.log(error)
                    })
            },
            displaySize: function(dir_item) {
                if (dir_item.dir) {
                    return '--'
                }
                if (dir_item.size > 1073741823)
                    return Math.ceil(dir_item.size / 1073741824) + " G"
                if (dir_item.size > 1048575)
                    return Math.ceil(dir_item.size / 1048576) + " M"
                if (dir_item.size > 1024)
                    return Math.ceil(dir_item.size / 1024) + " K"
                return "1 kb"
            },
            selectStorage: function(storage_id) {
                if (this.active_storage == storage_id)
                    return

                this.active_storage = storage_id
                this.queryContent()
                this.queryStatus()
            },
            queryShareUrls: function(item) {
                uri = "/web-api/sharelink/?storageId=" + this.active_storage + "&fileId=" + item.id
                axios.get(this.addCsrf(uri))
                    .then(response => {
                        if (item != this.selected_item)
                            return
                        if (!(response.data instanceof Array) ||
                            response.data.length < 1) {
                            console.log("has no urls to display")
                            return
                        }
                        
                        this.share_urls = response.data
                        this.render()

                        console.log(response.data)
                    })
                    .catch(error => {
                        this.clear_dir_content()
                        console.log(error)
                    })
            },
            clickItem: function(item) {
                if (item == null)
                    return
                if (item.dir) {
                    this.queryContent(item.id)
                    this.selected_item = null
                } else {
                    this.clear_share_urls()
                    this.selected_item = item
                    this.queryShareUrls(item)
                    this.render()
                }
            },
            clickToUpLevel: function() {
                if (this.up_level_dir_id == null)
                    return
                this.queryContent(this.up_level_dir_id)
            },
            add_share_url: function(file) {
                share = { storage_instance_id: this.active_storage, file_id: file.id }
                axios.post(this.addCsrf("/web-api/sharelink"), share)
                    .then(response => {
                        if (file != this.selected_item)
                            return
                        this.share_urls.push(response.data)
                        console.log(response.data)
                     })
                    .catch(error => {
                        console.log(error)
                     })
            },
            clear_share_urls: function() {
                this.share_urls = []
            },
            delete_share_link: function(link) {
                axios.delete(this.addCsrf("/web-api/sharelink/" + link.url))
                    .then(response => {
                        idx = this.share_urls.indexOf(link)
                        if (idx > -1) {
                          this.share_urls.splice(idx, 1)
                        }
                     })
                    .catch(error => {
                        console.log(error)
                     })
            }
        },
        created() {
            this.queryStorage()
        }
    })
</script>
</body>
</html>
