<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css"/>
    <script defer src="/static/fontawesome.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/vue"></script>
    <script src="/static/axios.min.js"></script>
    <style>
    </style>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div class="card" id="filedetails">
                    <div class="card-content">
                        <p class="title is-4" th:text="${file_name}"></p>
                        <p>
                            Description
                        </p>
                        <p>
                            <a class="title is-4" th:href="${direct_url}">Download</a>
                        </p>
                    </div>
               </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
