<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/dashboard">
        Dashboard
      </a>
      <a class="navbar-item" href="/settings">
        Settings
      </a>
    </div>
  </div>
</nav>
