<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css"/>
    <script defer src="/static/fontawesome.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/vue"></script>
    <script src="/static/axios.min.js"></script>
    <style>
        .color-red { color: red }
    </style>
</head>
<body>
<section class="hero">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <h1 class="title">Sign up</h1>
                <form action="/signup" method="POST" id="signupform">
                    <div class="field">
                        <label class="label">Enter your e-mail:</label>
                        <p class="control has-icons-left has-icons-right"
                           v-bind:class="{ 'is-loading': is_email_validation_in_progress }">
                            <input class="input" v-model="email"
                                   v-on:change="validateEmail"
                                   v-bind:class="{ 'is-danger': !is_email_valid && !is_email_empty,
                                                   'is-success': is_email_valid && !is_email_empty && !is_email_validation_in_progress }"
                                   type="email"
                                   placeholder="Email"
                                   name="email"
                                   required>
                            <span class="icon is-small is-left">
                              <i class="fas fa-envelope"></i>
                            </span>
                            <span v-if="is_email_valid && !is_email_validation_in_progress" class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                            </span>
                            <p v-if="this.email_error && !this.is_email_valid" class="help is-danger">
                                {{ this.email_error }}
                            </p>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Displayed name:</label>
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="displayed name" name="username" required>
                            <span class="icon is-small is-left">
                              <i class="fas fa-user"></i>
                        </span>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">Your new password:</label>
                        <p class="control has-icons-left">
                            <input class="input"  type="password" placeholder="password" name="password" required>
                            <span class="icon is-small is-left">
                              <i class="fas fa-lock" v-bind:class="{ 'is-danger': !is_email_valid }"></i>
                            </span>
                        </p>
                    </div>
                    <input type="submit"
                           class="button is-primary"
                           v-bind:disabled="is_email_empty || !is_email_valid || is_email_validation_in_progress"
                           value="Sign Up"/>
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    new Vue({
        el: "#signupform",
        data: {
            email: '',
            is_email_valid: false,
            is_email_free: false,
            is_email_empty: true,
            is_email_validation_in_progress: false,
            email_error: null,
            email_backend_format_error: /*[[${emailError}]]*/,
            email_backend_already_used: /*[[${emailAlreadyUsed}]]*/,
            csrf_name: /*[[${_csrf.parameterName}]]*/,
            csrf_token: /*[[${_csrf.token}]]*/
        },
        methods: {
            addCsrf: function(request) {
                return request + "?" + this.csrf_name + "=" + this.csrf_token
            },
            validateEmailAddr: function(email) {
              var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(email);
            },
            validateEmail: function() {

                this.is_email_empty = this.email == ""

                if (this.is_email_empty) {
                    this.is_email_validation_in_progress = false
                    this.is_email_valid = false
                    return
                }

                this.is_email_valid = this.validateEmailAddr(this.email)

                if (!this.is_email_valid) {
                    this.email_error = "Email address is incorrect"
                    return
                }

                this.email_validation_in_progress = true
                axios.post(this.addCsrf("/checkemail"), { email: this.email })
                    .then(response => {
                        if (!response.data.hasOwnProperty('isFree')) {
                            console.log("Empty response")
                        } else if (response.data.isFree != true) {
                            this.is_email_valid = false
                            this.email_error = "This email address already in use"
                        } else {
                            this.is_email_valid = true
                        }

                        this.email_validation_in_progress = false
                     })
                     .catch(function(error) {
                        console.log(error)
                        this.email_validation_in_progress = false
                     })
            }
        },
        created: function() {
            if (this.email_backend_already_used)
                this.email_error = "This email address already in use"
            if (this.email_backend_format_error)
                this.email_error = "Email address is incorrect"
        }
        })
</script>
</body>
</html>
